<div class="flex flex-col">
  <div>
    <form (ngSubmit)="onSubmit()" #noticeForm="ngForm">
      <div>
        <input type="text" [(ngModel)]="notice.title"
          class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-2"
          id="title"
          name="title"
          placeholder="Title"
          required #name="ngModel">
      </div>

      <div>
          <textarea #description="ngModel" class="mb-2 appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4" name="description" [(ngModel)]="notice.description" id="" rows="10" required placeholder="Description"></textarea>
      </div>

      <div>
        <a class="mr-2 bg-purple-800 px-4 py-2 text-white rounded" routerLink="/notices">Cancel</a>
        <button type="submit" [disabled]="!noticeForm.form.valid"
          class="bg-purple-800 px-4 py-2 text-white rounded disabled:opacity-50">Submit</button>
      </div>
    </form>
  </div>
</div>

